/* body */

#body {
	font-family:freeroad;
	background-color:#678FFE;
}


/* the banner */

#banner {
	max-height:100%;
	max-width:800px;
	border:10px solid black;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	background-color:#DBE5FF;
}


/*the pages/tabs*/

#pages {
	
	max-height:100%;
	max-width:100%;
}


/*my about section*/

#bio {
	
	overflow:auto;
	border:10px solid black;
	padding: 40px;
	font-size:150%;
	max-height:100%;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:#DBE5FF;
	
}	


/*pics of me line */

#pics_of_me {
	font-size:120%;
	margin-bottom:10px;
	margin-top:15px;
}


/* the pics */

#pics {
	margin-bottom:25px;
	overflow:auto;
	padding:10px;
	border:10px solid black;
	max-height:100%;
	max-width:800px;
	margin-top: 15px;
	margin-left:auto;
	margin-right:auto;
	background-color:#DBE5FF;
}


/*the links at the bottom*/

#links {
	
	max-height:100%;
	max-width:100%;
	margin-bottom:30px;
	border:10px solid black;
	padding: 10px;
	max-height:100%;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	background-color:#DBE5FF;
}
