#body {
	background-color:#678FFE;
	font-family:quicksand;
}
#home {
	border:2px solid black;
	max-width:150px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	background-color:#FFFFFF;
}
#vid1 {
	border:2px solid black;
	padding: 10px;
	font-size:120%;
	max-height:100%;
	max-width:650px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	position:relative;
	background-color:#FFFFFF;
}
#vid2 {
	border:2px solid black;
	padding: 10px;
	font-size:120%;
	max-height:100%;
	max-width:650px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	position:relative;
	background-color:#FFFFFF;
}
#vid3 {
	border:2px solid black;
	padding: 10px;
	font-size:120%;
	max-height:100%;
	max-width:650px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	position:relative;
	background-color:#FFFFFF;
}